.client-button-container {
    display: flex;
    border-top: 1px solid lightgray;
}

.client-title-container {
    text-align: center;
}

.client-main-page {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: -30%;
}